body {
	background: #e4e6e5;
}


.panel-box {
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.question-panel-box {
	box-sizing: border-box;
	width: 98%;
	border: 1px solid #ccc;
	padding: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 20px;
}

.question-panel-inner-rbox {
	padding-bottom: 10px;
}

.replies-panel-inner-rbox {
	margin-left: -10px !important;
}


.custom-ques-thumbnail {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.custom-reply-thumbnail {
	width: 50%;
	margin-left: 2px;
	margin-right: auto;
}

.user-info {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}

.reply-link {
	display: block;
	float: left;
	margin-bottom: 10px;
	font-size: 0.8em;
	cursor: pointer;
}

.posted-info {
	float: left;
	margin-left: 20px;
	font-size: 0.8em;
	color: rgb(0, 136, 204);
}


.replies-panel-outer-box {
	clear: both;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fafafa;
	font-size: 0.9em;
	display: none;
}

.replies-panel-inner-box {
	box-sizing: border-box;
	padding: 10px;
}

.custom-hr{
	margin:0px;
	border-top: 1px dashed #dadada;
}

.sidebar-img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.sidebar-box {
	background: #fff;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.nav-custom-header {
	color: #bbb;
	text-decoration: underline;
	margin-left: 10px;
}

.custom-well {
	border: none;
	background: none;
}

.header-gap {
	margin-top: 30px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.question-box {
	padding-top: 20px;
	background: #eee;
	border: 1px solid #ccc;
	padding-left: 15px;
	margin-top: 20px;
	border-radius: 8px;
}

#login_box {
	width:300px;
	padding: 30px;
	padding-bottom: 15px;
	padding-top: 25px;
	#background: #454545;
	margin-left: auto;
	margin-right: auto;
	margin-top: 180px;
	#color: #f5f5f5;
	background-image: linear-gradient(bottom, rgb(163,163,163) 13%, rgb(240,240,240) 61%, rgb(224,224,224) 78%);
	background-image: -o-linear-gradient(bottom, rgb(163,163,163) 13%, rgb(240,240,240) 61%, rgb(224,224,224) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(163,163,163) 13%, rgb(240,240,240) 61%, rgb(224,224,224) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(163,163,163) 13%, rgb(240,240,240) 61%, rgb(224,224,224) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(163,163,163) 13%, rgb(240,240,240) 61%, rgb(224,224,224) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(163,163,163)),
		color-stop(0.61, rgb(240,240,240)),
		color-stop(0.78, rgb(224,224,224))
	);
	border: 1px solid #bbb;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 25px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 25px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 25px rgba(50, 50, 50, 0.75);
}

.login_body {
	background: #000;
}